.Home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url('https://unsplash.com/photos/nMyM7fxpokE/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjUwMTIxMjQ1&force=true');
  height: 100vh;
  color: white;
  margin-top: -100px;
}

.Button {
  background-color: white;
  padding: 15px;
  color: rgba(39, 121, 245, 0.8);
  border-radius: 15px;
}

.Select {
  padding: 15px;
  outline: none;
  color: white;
  background-color: rgba(39, 121, 245, 0.8);
}
